@model IEnumerable<Licenta_Front_End.Models.Meeting>
@using Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "IndexForDevAndLead";
}


@using (Html.BeginForm("IndexForDevAndLead", "Meeting", FormMethod.Get))
{
	<p>

		<a asp-action="CreateForLeader" class="btn btn-warning" style = "background-color: #E6B471;" >Create New</a>
		<input class="btn btn-warning" type="submit" value="Search" style = "background-color: #E6B471;"   />
	</p>
	<br>
	@Html.TextBox("searching", null, new { @class = "form-control" , @placeholder="Search..."})
	<br>

}
<br>


<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">
		<thead>
			<tr class="table-warning">
				<th>
					Meeting Name
				</th>
				<th>
					Project Name
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Link)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				


				<th></th>
				@if ((Context.Session.GetString("Role") == "Leader"))
				{
					<th></th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td style="font-weight: bold;">
					@Html.DisplayFor(modelItem => item.MeetingName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProjectName)
				</td>
				<td>
					<a href="@(item.Link)">@(item.Link)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				


				<td>
					@Html.ActionLink("Details", "DetailsForLeader", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-warning", @role = "button" , @style = "background-color: #E6B471;" })
				</td>

				@if ((Context.Session.GetString("Role") == "Leader"))
				{
					<td>
						@Html.ActionLink("Delete", "Delete", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" , @style = "background-color: #CC621B;border-color: #CC621B;color: black;" })
					</td>
				}

			</tr>
			}
		</tbody>
	</table>
</div>

<br>
<br>
<br>
<br>
