@model Licenta_Front_End.Models.Project

@{
	ViewData["Title"] = "Details";
}


<div>

	<hr />
	<dl class="row box">
		<dt class="col-sm-2">
		</dt>
		<dd class="col-sm-10">
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="Id" class="form-control" value="model => model.Id" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2 butoane">
			@Html.DisplayNameFor(model => model.ProjectName)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="ProjectName" class="form-control" value="model => model.ProjectName" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StartDate)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="StartDate" class="form-control" value="model => model.StartDate" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AllocatedMoney)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="AllocatedMoney" class="form-control" value="model => model.AllocatedMoney" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ClientName)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="ClientName" class="form-control" value="model => model.ClientName" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Detail)
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="Detail" class="form-control" value="model => model.ClienDetailtName" id="exampleFormControlTextareaRedeem" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>

		<br>
		<div class="butoane">
			@Html.ActionLink("Edit", "Edit", new { Id = Model.Id }, new { @class = "btn btn-primary", @role = "button", @style = "background-color: #039E67; Color: black; " })
			<a asp-action="Index" class="btn btn-warning" style = "background-color: #E6B471;">Back to List</a>
			<br>
			<br>
		</div>
		<br>
		<br>
	</dl>
	<br>
	<br>
</div>
<br>
<br>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;