@model IEnumerable<Licenta_Front_End.Models.Project>

@{
	ViewData["Title"] = "Index";
}





@using (Html.BeginForm("Index", "Project", FormMethod.Get))
{
	<p>
		<a asp-action="Create" class="btn btn-warning" style="background-color: #E6B471;" >Create New</a>
		<input class="btn btn-warning" type="submit" value="Search" style="background-color: #E6B471;" placeholder="Search..." />
	</p>
	<br>
	@Html.TextBox("searching", null, new { @class = "form-control" ,@placeholder="Search..."})
	<br>

}
<br>
<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">
		<thead>
			<tr class="table-warning">
				<th>
					@Html.DisplayNameFor(model => model.ProjectName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.StartDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AllocatedMoney)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.ClientName)
				</th>

				<th></th>
				<th></th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ProjectName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AllocatedMoney)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.ClientName)
					</td>

					<td>
						@Html.ActionLink("Edit", "Edit", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" , @style = "background-color: #039E67; Color: black; " })
					</td>
					<td>
						@Html.ActionLink("Details", "Details", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-warning", @role = "button" , @style = "background-color: #E6B471;" })
					</td>
					<td>
						@Html.ActionLink("Delete", "Delete", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" , @style = "background-color: #CC621B; border-color: #CC621B; color: black;" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<br>
<br>
<br>
<br>