@model IEnumerable<Licenta_Front_End.Models.Task>

@{
	ViewData["Title"] = "IndexForLeader";
}

@using (Html.BeginForm("IndexForLeader", "Task", FormMethod.Get))
{
	<p>
		<a asp-action="CreateLeader" class="btn btn-warning">Add Task</a>
		<input class="btn btn-warning" type="submit" value="Search" />
	</p>
	<br>
	@Html.TextBox("searching", null, new { @class = "form-control" })
	<br>

}
<br>

<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">
		<thead>
			<tr class="table-warning">
				<th>
					Task Name
				</th>
				<th>
					Project Name
				</th>
				
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					Task Owner Name
				</th>
				
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td style="font-weight: bold;">
					@Html.DisplayFor(modelItem => item.TaskName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProjectName)
				</td>
				
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TaskOwnerFirstName)
					@Html.DisplayFor(modelItem => item.TaskOwnerLastName)
				</td>
				

				<td>
					@Html.ActionLink("Edit", "Edit", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
				</td>
				<td>
					@Html.ActionLink("Details", "DetailsLeader", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
				</td>
				<td>
					@Html.ActionLink("Delete", "DeleteLeader", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
				</td>

			</tr>
			}
		</tbody>
	</table>
</div>
<br>
<br>
<br>
<br>