@model IEnumerable<Licenta_Front_End.Models.Team>

@{
	ViewData["Title"] = "IndexEmpProjects";
}





<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">

		<thead>

			<tr class="table-warning" style="font-weight: italic;">
				<th>
					@Html.DisplayNameFor(model => model.ProjectName)
				</th>
				

				<th>
					LeaderFirstName
				</th>

				<th>
					LeaderLastName
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td style="font-weight: bold;">
					@Html.DisplayFor(modelItem => item.ProjectName)
				</td>
				

				<td>
					@Html.DisplayFor(modelItem => item.TeamLeaderFirstName)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.TeamLeaderLastName)
				</td>

				<td>
					@Html.ActionLink("Members", "Members", new { searching = item.ProjectName }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
<br>
<br>
<br>
<br>