@model IEnumerable<Licenta_Front_End.Models.Member>

@{
	ViewData["Title"] = "TeamMembers";
}

<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">
		<thead>
			<tr class="table-warning">
				<th>
					Member Name
				</th>

				<th>
					Job Title
				</th>
				<th>
					Departament Name
				</th>
				<th>
					Role
				</th>
				<th>
					Project Name
				</th>
				<th>
					Project Leader
				</th>




			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td style="font-weight: bold;">
						@Html.DisplayFor(modelItem => item.FirstName)
						@Html.DisplayFor(modelItem => item.LastName)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.JobTitle)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DepartamentName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Role)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ProjectName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TeamLeaderFirstName)
						@Html.DisplayFor(modelItem => item.TeamLeaderLastName)
					</td>

				</tr>
			}
		</tbody>
	</table>
	<div class="butoane">
		<br>
		<a asp-action="IndexLeader" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>

	</div>
</div>
<br>
<br>
<br>
<br>
