@model IEnumerable<Licenta_Front_End.Models.Inbox>

@{
	ViewData["Title"] = "EmployeeMails";
}

@using (Html.BeginForm("EmployeeMails", "Inbox", FormMethod.Get))
{
	<p>

		<a asp-action="Send" class="btn btn-warning" style = "background-color: #E6B471;">Send Mail</a>
		<input class="btn btn-warning" type="submit" value="Search" style = "background-color: #E6B471;"/>
	</p>
	<br>
	@Html.TextBox("searching", null, new { @class = "form-control" , @placeholder="Search..."})
	<br>

}
<br>


<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">

		<thead class="table-warning">
			<tr class="bg-success">
				<th>
					New Email In Inbox
				</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Sender)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Message)
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				@if (item.Status == "Unread")
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Sender)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td class="lessertext">
							@Html.DisplayFor(modelItem => item.Message)
						</td>


						<td>
							@Html.ActionLink("Read", "Read", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
						</td>


					</tr>
					}
				}
		</tbody>
	</table>
</div>


<div class="table-responsive box">
	<table class="table thead-light table-striped table-white box2">

		<thead class="table-warning">
			<tr class="bg-success">
				<th>
					Emails Archive
				</th>
				<th></th>
				<th></th>
				<th></th>
			</trclass="bg-success">

			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Sender)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Message)
				</th>

				<th></th>
			</tr>

		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				@if (item.Status == "Read")
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Sender)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td class="lessertext">
						@Html.DisplayFor(modelItem => item.Message)
					</td>


					<td>
						@Html.ActionLink("Read", "Read", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-info", @role = "button" , @style = "background-color: #039E67; Color: black; " })
					</td>


				</tr>
					}
				}
		</tbody>
	</table>
</div>
<br>
<br>
<br>
<br>

